body {
    background: #35b724;
}

.app-wrapper {
    max-width: 1400px;
    margin: auto;
}

.app-wrapper__header {
    display: flex;
    justify-content: center;

    padding: 20px 10px;
}

.app-wrapper__title {
    color: #ffffff;
    background: #f5443b;

    font-size: 50px;
    font-weight: 1000;

    transform: perspective(10px) rotateX(-1deg);
    border: 8px solid #233012;
    padding: 2px 10px;

    letter-spacing: 3px;

    text-align: center;
    text-transform: uppercase;
}
